#!/bin/bash

echo "Installing SF Mono Nerd Font"

brew tap shaunsingh/SFMono-Nerd-Font-Ligaturized
brew install --cask font-sf-mono-nerd-font-ligaturized

echo "Instlling Hack Nerd Font"
brew install --cask font-hack-nerd-font

echo "Installing SF Symbols"
brew install --cask sf-symbols
